body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



header .menu {
    margin-left: 20px;
}


main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}
